# Python
__pycache__/
*.pyc
venv/
.env

# Node / Vue
node_modules/
dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# LaTeX intermediate files
# pdf文件不再推送到GitHub
*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv

# word文档
*.docx

# 本项目里常见的大文件/中间文件，可按实际情况加
uploads/
media/
tmp/
*.zip
*.pth
*.pt
*.onnx
